@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}


.hidden {
  display: none;
}



.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 2px solid white;
  border-color: white;
  background-color: #222;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}




.levels {
  font-size: 20px;
  position: absolute;
  white-space: pre;
  height: 120px;
  width: 500px;
  left: 10px;
  background-color: #222;
  color: #eee;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;

}

.allWrapped {}




.mode {
  position: absolute;
  bottom: 2%;
  left: 1%;
  font-size: 15px;


}